body {
  background-color: #FAFAFA;
  /* width: 1400px;
  height: 1200px; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'iCiel Effra' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iCiel Effra';
  src: url("./resources/iCielEffra-Regular.otf") format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #086bd1 !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  /* border-bottom: 1px solid #086bd1 !important; */
  box-shadow: 0 1px 0 0 #086bd1 !important;
 }

i{
  user-select: none;
}

.my-sidenav{
  position:fixed; 
  left:0px;
  top:0px;
  height: 100vh;
  width:50px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  z-index: 2;
}

.my-sidenav-big{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  font-weight: bold;
}

.sidenav{
  width: 250px;
}

.side-nav-logo{
  height: 160px;
  padding-top: 20%;
}

.side-nav-logo img{
  height: 100%;
  margin: auto;
}

.bold{
  font-weight: bold;
}

.flex-column{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-row{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.main-post{
  min-height: 250px;
}

.main-post img{
  border-radius: 20px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.sub-post img{
  border-radius: 20px;
}

.sub-post{
  padding-bottom: 10px;
}

.border-20{
  border-radius: 20px;
}

.advertisement{
  margin: 10px;
  min-height: 300px;
  min-width: 100px;
}

.carousel{
  position: relative;
  top: -80px;
}

.side-nav-active > i, .side-nav-active > span{
  color: #1565c0 !important;
}

.personalLibrary-nav{
  position:fixed;
  left:0px;
  top:0px;
  height: 100vh;
  overflow: scroll;
  /* width:100px; */
}

.personalLibrary-nav::-webkit-scrollbar{
  display:none
}

.line{
  width: 100%;
  border: 1px #AAAAAA solid;
  margin: 5px 0;
}

.line-vert{
  height: 100%;
  border: 1px #AAAAAA solid;
}

.my-floating-btn{
  position:fixed;
  left:90%;
  top:84vh;
}

.modal{
  border-radius: 25px;
}

.scroll-content {
  position: absolute;
}

.padding-vertical-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-horizontal-10{
  padding-left: 10px;
  padding-right: 10px;
}

.padding-flex{
  padding: 1vw 1.5vw;
}

.inline-block{
  display: inline-block;
}

.no-padding{
  padding-left:0;
  padding-right:0;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.no-select{
  user-select: none;
}

.min-height-60{
  height: 60px !important;
}

.min-height-400{
  min-height: 400px !important;
}

.flex-height{
  height: 3em;
}

.height-auto{
  height: auto;
}

.margin-auto{
  margin: auto; 
}

.font-size-15{
  font-size: 15px;
}

.font-size-18{
  font-size: 18px;
}

.font-effra{
  font-family: 'iCiel Effra'
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.knowledgeGroup-header{
  padding-left: 20px !important;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-editor {
  min-height: 18rem;
}


.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="10px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: 'Small';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  font-size: 10px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: 'Large';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="40px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
  content: 'Huge';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
  font-size: 40px;
}

.padding-filler-nav{
  padding-left: 50px !important;
  padding-right: 0px !important;
}

.min-height-100vh{
  min-height: 100vh !important;
}

.posts {
  width: 100%;
  margin-top: 1vw;
}

.posts img {
  position: relative;
  width: 100%;
  height: 200px;
}

.create-news div{
  /* margin-top: 2vw; */
}

.clickable {
  cursor: pointer;
}

.button-to-anchor {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.delete-post {
  display: inline-block;
  width: 50%;
  font-size: 1vw;
}

.edit-post {
  display: inline-block;
  width: 50%;
  font-size: 1vw;
}

.post-buttons{
  width: 100%;
  height: auto;
}

.small-post{
  max-width: 17vw;
  font-size: 0.8vw;
}

.post-margin{
  margin-bottom: 2vw;
  margin-right: 1vw;
}

.small-post-title{
  font-size: 1vw;
  text-align: left;
}

.thumbnail-preview {
  width: 100%;
  height: auto;
}

#previewThumb {
  width: 100%;
}

.search-field::before {
  /* background-image: ; */
}

.search-field::placeholder {
  color: black;
}

.width-flex {
  width: 90%;
}
.userManagement{
  font-family: sans-serif;
}

.userManagement header{
  font-weight: bold;
  color: aqua;
}

.userManagement menu{
  background-color: gray;
  padding: 5px 5px;
  margin-right: 20px;
}

.userManagement menu #userFilter{
  color: cyan;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.wrap{
  display: grid;
  grid-template-rows: 50px 1150px;
}

.setBlue{
  color: blue;
}

.header{
  font-family: sans-serif;
  background: #FAFAFA;
  margin-top: 0px;
  padding-top: 0px;
  overflow: auto;
}

.header h5{
  margin-left: 20px;
  height: 100%;
}

.header span{
  margin-left: 20px;
  height: 100%;
}

.float-right{
  float: right;
}

.header table{
  padding-top: 0px;
  border-top: 1px solid lightgray ;
  margin-top: 10px;
}

.header table th{
  margin-left: 5px;
}

.table{
  border-collapse: collapse;
  background-color: white;
}

.table tr{
  margin-left: 20px;
}

.icon{
  margin-right: 8px;
  size: 80%;
}

.marginLeft{
  margin-left: 55px;;
}

.a{
  text-decoration: underline;
  color: gray;
}

.menuTable tr th{
  margin-right: 10px;
}

.center{
  align-items: center;
  align-content: center;
}







